/* Global Styles */

body {
    background-color: rgb(134, 204, 189);
}

img {
    max-width: 100%;
}

a {
    color: rgb(8, 211, 191);
}

a:hover {
    color: white;
    text-decoration: none;
}

/* Main Styles  */

#container {
    background-color: whitesmoke;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
}

header {
    background-color: rgba(221, 218, 218, 0.973);
}

header img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

nav {
    text-align: center;
    background-color: white;
    padding: 40px 0;
    margin-top: 20px;
}

nav a {
    background-color: black;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: rgb(134, 204, 189);
    color: white;
}

main {
    background-color: rgba(221, 218, 218, 0.973);
    padding: 20px;
    margin: 20px 0;
}

main h1 {
    text-align: center;
}

main img {
    display: block;
    width: 75%;
    margin: 20px auto;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 10px 10px black;
}

footer {
    background-color: rgba(221, 218, 218, 0.973);
    padding: 40px 0;
    text-align: center;
}